table.tablesorter thead tr .tablesorter-header  .tablesorter-header-inner {
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
}

table.tablesorter thead tr .tablesorter-header.tablesorter-headerUnSorted  .tablesorter-header-inner  {
	background-image: url(images/bg.gif);
}

table.tablesorter thead tr .tablesorter-header.tablesorter-headerAsc .tablesorter-header-inner {
	background-image: url(images/asc.gif);
}

table.tablesorter thead tr .tablesorter-header.tablesorter-headerDesc .tablesorter-header-inner {
	background-image: url(images/desc.gif);
}